<p>
    <strong>Title:</strong>
    <%= @place.title %>
</p>

<p>
    <strong>Coordinates:</strong>
    <%= @place.coordinates %>
</p>

<p>
    <strong>Keywords</strong>
    <%= @place.keywords %>
</p>